@namespace DRApplication.Client.Controls
@inject VersionsLoadManager manager

<NewButton Url="/versionsload/create"/>

<MudTable Items="@_versionsLoadVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Software Version</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Test Load">
            <LoadLabel LoadId="@context.LoadId" />
        </MudTd>
        
        <MudTd DataLabel="Software Version">
            <SoftwareVersionLabel SoftwareVersionId="@context.SoftwareVersionId" />
        </MudTd>
        
        <MudTd DataLabel="SELECT">
            <a href="/versionsload/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>