@namespace DRApplication.Client.Controls
@inject AppState AppState
@inject IPlatformService PlatformService
@implements IDisposable

<NewButton Url="/platform/create" />

@if (AppState.DeviceTypeVm.Id > 0)
{
    <MudTable Items="@AppState.DeviceTypeVms" Class="my-4" Hover="true" Striped="true" Dense="true">
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>Platform</MudTh>
            <MudTh>Active?</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Platform">@context.Platform</MudTd>
            <MudTd DataLabel="Active?">@context.IsActive</MudTd>
            <MudTd DataLabel="SELECT">
                <a href="/deviceType/edit/@context.Id" role="button">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>
                </a>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

@code {

    bool _isBusy;

    private async Task SetDeviceTypes()
    {
        var deviceTypeVms = await PlatformService.GetDeviceTypeVmsByMaintainerId(AppState.MaintainerVm.Id);
        AppState.UpdateDeviceTypeVms(this, deviceTypeVms);
    }
    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            if (Property == "MaintainerVm")
            {
                await SetDeviceTypes();
                await InvokeAsync(StateHasChanged);
            }
        }
    }
    protected override async Task OnInitializedAsync()
    {
        _isBusy = true;
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
        await SetDeviceTypes();
        _isBusy = false;
    }
    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }
}
