@namespace DRApplication.Client.Controls
@inject ILoadBuilderService LoadBuilderService
@inject AppState AppState
@implements IDisposable

@if (@AppState.HardwareConfigVm.Id > 0 && @AppState.SoftwareSystemVm.Id > 0 && _isBusy is not true)
{
    <h1 class="selected">test</h1>
    <MudTable Items="@AppState.SoftwareVersionVms"
          @ref="mudTable"
          Hover="true"
          RowClassFunc="@SelectedRowClassFunc"
          OnRowClick="RowClickEvent"
          T="SoftwareVersionVm">
        <HeaderContent>
            <MudTh>Version</MudTh>
            <MudTh>Date</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Version">@context.Name</MudTd>
            <MudTd DataLabel="Date">@context.VersionDate.ToShortDateString()</MudTd>
        </RowTemplate>
    </MudTable>
}