@namespace DRApplication.Client.Controls.Configurations
@inject HardwareVersionManager manager

<div class="row mb-4">
    <div class="col col-md-6 col-sm-12">
        <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" Link="/hardwareversion/create">New</MudButton>
    </div>
</div>

<MudTable Items="@_hardwareVersionVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Hardware System</MudTh>
        <MudTh>Version Date</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Version">
            <HardwareSystemLabel HardwareSystemId=@context.HardwareSystemId />
        </MudTd>
        <MudTd DataLabel="Date">@context.VersionDate.ToShortDateString()</MudTd>
        <MudTd DataLabel="SELECT">
            <a href="/hardwareversion/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    IEnumerable<HardwareVersionVm> _hardwareVersionVms;

    protected override async Task OnInitializedAsync()
    {
        var items = await manager.GetAllAsync();
        _hardwareVersionVms = Mapping.Mapper.Map<List<HardwareVersionVm>>(items);
    }
}
