@inject HardwareConfigManager manager

<div class="row mb-4">
    <div class="col col-md-6 col-sm-12">
        <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" Link="/hardwareconfig/create">New</MudButton>
    </div>
</div>


<MudTable Items="@_hardwareConfigVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Config</MudTh>
        <MudTh>Device Type</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Thread">@context.Id</MudTd>
        <MudTd DataLabel="Thread">@context.Name</MudTd>
        <MudTd DataLabel="Thread">@context.DeviceType</MudTd>
        <MudTd DataLable="SELECT">
            <a href="/hardwareconfig/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    List<HardwareConfigVm> _hardwareConfigVms = new();

    protected override async Task OnInitializedAsync()
    {
        var items = await manager.GetAllAsync();
        _hardwareConfigVms = Mapping.Mapper.Map<List<HardwareConfigVm>>(items);
    }
}
