@namespace DRApplication.Client.Controls.Platforms
@inject DeviceManager manager

<NewButton Url="/device/create" />

<MudTable @ref="@_table" Items="@_deviceVms"
          CurrentPage="@_pagedResponse.PageNumber"
          RowsPerPage="@_pagedResponse.PageSize"
          Hover="true"
          Breakpoint="Breakpoint.Sm"
          Striped="true"
          Dense="true"
          Elevation="3"
          TotalItems = "@_pagedResponse.TotalRecords">
    
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Device</MudTh>
        <MudTh>Device Type</MudTh>
        <MudTh>IsActive?</MudTh>
        <MudTh></MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Thread">@context.Id</MudTd>
        <MudTd DataLabel="Thread">@context.Name</MudTd>
        <MudTd DataLabel="Thread">
            <DeviceTypeLabel DeviceTypeId=@context.DeviceTypeId/>
        </MudTd>
        <MudTd DataLabel="Thread">@context.IsActive</MudTd>
        <MudTd DataLabel="SELECT">
            <a href="/device/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>

    <PagerContent>
            <MudPagination Rectangular="true" SelectedChanged="PageChanged" Color="Color.Primary" Count="_pagedResponse.TotalPages" />
            Showing Page @_pagedResponse.PageNumber of @_pagedResponse.TotalPages
            Total Records: @_pagedResponse.TotalRecords
    </PagerContent>

</MudTable>