@inject DeviceManager manager
@inject DeviceTypeManager deviceTypeManager

<div class="row mb-4">
    <div class="col col-md-6 col-sm-12">
        <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Success" Link="/device/create">New</MudButton>
    </div>
</div>

<MudTable Items="@_deviceVms" Hover="true" Striped="true" Dense="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Device</MudTh>
        <MudTh>Device Type</MudTh>
        <MudTh>IsActive?</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Thread">@context.Id</MudTd>
        <MudTd DataLabel="Thread">@context.Name</MudTd>
        <MudTd DataLabel="Thread">@context.DeviceTypeName</MudTd>
        <MudTd DataLabel="Thread">@context.IsActive</MudTd>
        <MudTd DataLable="SELECT">
            <a href="/device/edit/@context.Id" role="button">
                <MudIcon Icon="@Icons.Material.Filled.Edit" Color="Color.Warning"></MudIcon>    
            </a>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    IEnumerable<DeviceVm> _deviceVms;

    List<DeviceTypeVm> _deviceTypeVm = new();
    MappingHelper _mappingHelper = new();

    protected override async Task OnInitializedAsync()
    {
        var devices = await manager.GetAllAsync();
        var deviceTypes = await deviceTypeManager.GetAllAsync();

        _mappingHelper.PrimaryEntities = devices;
        _mappingHelper.ForeignEntities = deviceTypes;
        _mappingHelper.ForeignColumnName = "DeviceTypeName";
        _mappingHelper.ForeignKeyName = "DeviceTypeId";
        _mappingHelper.VMList = new List<DeviceVm>();

        var fkMapper = new ForeignKeyMapper<Device>(_mappingHelper);

        _deviceVms = fkMapper.GetMappedClass().Cast<DeviceVm>().ToList();
    }
}
